<div class="container-s">
  <div class="calendar-container">
    <%= month_calendar(events: @meetings, end_attribute: :end_time) do |date, meetings| %>
      <%= date.mday %>
      <% meetings.each do |meeting| %>
        <% if meeting.complete == true %>
          <div class="meeting-completed">
            <% book = Book.find(meeting.book_id)%>
            <p><%= book.title %></p>
          </div>
        <% else  %>
          <div class="meeting">
            <% book = Book.find(meeting.book_id)%>
            <p><%= book.title %></p>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
<div class="add-link-calendar">
  <%= link_to "", new_meeting_path, class:"fa-solid fa-circle-plus",style:"font-size:60px" %>
</div>
