<h1>Analytics</h1>
<p>Total Number of Books : <%= @book_count %></p>
<p>Total Number of Reading : <%= @total_reading %></p>
<p>Average time of reading : <%= @average_time_total %> days</p>
<canvas
  data-controller="chart"
  data-chart-data-value="<%= @chart_data.to_json %>"
  data-chart-options-value="<%= @chart_options.to_json %>"
></canvas>
