<div class="container-s">
  <h1 class="text-center">Your Favorite Books</h1>
  <div class="book-cards">
    <% @books.each do |book| %>
      <div class="book-card">
        <div class="position-absolute">
          <%= link_to toggle_favorite_book_path(book) do %>
            <i class="<%= @user.favorited?(book) ? "fa-solid fa-heart" : "fa-regular fa-heart" %>" style="color: #df5656;"></i>
          <% end %>
        </div>
        <h2 class="p-2"><%= link_to book.title, book_path(book) %></h2>
        <p>By <%= book.author %></p>
      </div>
    <% end %>
  </div>
  <div class="text-center p-2">
    <%= link_to "Back", books_path %>
  </div>
</div>
