<div class="container-list">
  <h1 class="text-center">In Progress List</h1>
  <div class="list-cards">
    <% if @not_completes.count >= 1 %>
      <% @not_completes.each do |notcomp| %>
        <% book = Book.find(notcomp.book_id) %>
        <div class="list-card">
          <h2><%= book.title %></h2>
          <p>By <%= book.author %></p>
          <p>Start date : <%= notcomp.start_time.strftime("%F") %></p>
          <p>Scheduled end date : <%= notcomp.end_time.strftime("%F") %></p>
          <div class="icons">
            <%= link_to "", edit_meeting_path(notcomp.id), class:"fa-solid fa-pen p-2",style:"color:#df5656;" %>
            <%= link_to "", meeting_path(notcomp), class:"fa-solid fa-trash-can", style:"color: #df5656;", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <h2>There are no in progress.</h2>
  <% end %>
  <div class="add-link">
    <%= link_to "", new_meeting_path, class:"fa-solid fa-circle-plus",style:"font-size:60px" %>
  </div>
</div>
